


 #overlapSection{
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 6fr;
  grid-template-rows: 1fr 5fr 1fr 1fr 1fr 5fr 1fr;
width: 80%;

 
 
 
}



.cards{
  width: 100%;
overflow: hidden;
  background-color: #e4e4e4;
 filter: drop-shadow(-20px 20px 20px rgba(0, 0, 0, 0.5));
}

.cards img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cards div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;

}
 
#cardOne{
 grid-column-start: 1;
 grid-column-end: 3;

grid-row-start: 1;
grid-row-end: 3;
}

#cardTwo{
 grid-column-start: 2;
 grid-column-end: 5;

grid-row-start: 2;
grid-row-end: 4;
 
}

#cardThree{
grid-column-start: 3;
 grid-column-end: 5;

grid-row-start: 5;
grid-row-end: 7;
 
}

#cardFour{

 grid-column-start: 1;
 grid-column-end: 4;

grid-row-start: 6;
grid-row-end: 8;
}

